### Pesos y logs del sistema ###
*.h5
*.log

### Datos de prueba y resultados ###
pruebas/*
resultados/*

### Data Sets ###
kangaroo-master/
VOC2012/
peces/
manzanas/
naranjas/
platanos/

### Datos de Python ###
__pycache__/

### Datos IDE ###
.vscode/